@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MinhaFonte2';
    src: url('Garet-Book.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Chakra Petch", sans-serif;
    color:aliceblue;
    background-color: rgb(96, 15, 172);
}

h2, h3 {
    font-size: 35px;
    text-align: center;
}

p, h4 {
    font-family: 'MinhaFonte2';
}

a, #ATEXT {
    font-family: 'MinhaFonte2';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a {
    background-color: #00d0ff;
    height: 10vh;
    width: 20vh;
    padding: 2vh;
    text-decoration: none;
    border: none;
}

a:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

a:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#ATEXT {
    background-color: #00d0ff;
    height: 6vh;
    width: 18vh;
    padding: 1vh;
}

#ATEXT:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #006379;
    transform: translateY(-2px);
}

#ATEXT:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.Bytes, .Competencias, .Contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.Header > img {
    height: 30vh;
    border-radius: 20px;
    background-color: aliceblue;
}

.Sobre {
    height: 50vh;
    font-size: 20px;
    text-align: justify;
    margin: 5vh;
}

.Projetos {
    
    height: 80vh;
}

.Bytes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 60vh;
    margin: 2vh;
  
}

.Bytes img {
    height: 30vh;
    background-color: aliceblue;
}

.Text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
    margin: 0vh 5vh;
}

.Competencias {
    height: 90vh;
    flex-wrap: wrap;
}

.Items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
    width: 150px;
    padding: 15px;
    margin: 5px;
}

.Items h4 {
    font-weight: 300;
    text-align: center;
}

.Items img {
    width: 80px;
    height: 80px;
}

.Contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    margin: 2vh ;
    height: 40vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: 50px;
}

h5 {
    text-align: center;
}
